 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Looking forward</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>What should a Canadian national platform for supporting computational research look like in the coming years?</p>
                </div>
                <div class="col-lg-4">
                    <p>Read our discussion paper (<a href="ComputeCanadianDiscussionPaper.pdf">PDF</a> or <a href="discussion-paper/index.html">online</a>)
                       on how we can learn from other federations to build a Canadian approach to research computing.</p>
                </div>
            </div>
        </div>
    </section>
