---
layout: default
title: Our Discussion Paper
permalink: discussion-paper/index.html
---

<script>
.post-title h1 {
    font-size: 28pt
}
.post-date h2 {
    font-size: 20pt
}
</script>

You can read the discussion paper by section below, or download the <a href="/files/ComputeCanadian.pdf">PDF version here</a>.

<div class="paper-sections">
{% for item in site.data.nav %}
<section class="post-entries">
  {% if item.title == "Discussion Paper" %}
    <ul>
    {% for subitem in item.subcategories %}
      <li><a href="{{subitem.subhref}}">{{subitem.subtitle}}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
</div>

