<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}

    <style>
    .discussionsection img {
      float: left;
    }
    .discussionsection h3 {
      position: relative;
      top: 18px;
      font-style: normal;
      vertical-align: middle;
    }
    </style>

    <div class="content">
        <div class="discussionsection">
            <br/><br/>
        </div>
    {{ content }}

    <hr>
<div class="paper-sections-footer">
{% for item in site.data.nav %}
<section class="ppr-sections">
  {% if item.title == "Discussion Paper" %}
    <ul>
    {% for subitem in item.subcategories %}
      <li><a href="{{subitem.subhref | relative_url }}">{{subitem.subtitle}}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
</section>
</div>
    </div>
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
