<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}

    <style>
    .discussionsection img {
      float: left;
    }
    .discussionsection h3 {
      position: relative;
      top: 18px;
      font-style: normal;
      vertical-align: middle;
    }
    </style>

    <div class="content">
        <div class="discussionsection">
            <img src={{ "/img/profile-sm.png" | relative_url }}> 
            <h3>News: {{page.title}}</h3>
            <br/>
        </div>
        <h4>{{ page.date | date_to_string }}</h4>
        {{ page.content }}
        <hr>
    </div>

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
